<div class="snippet-hidden" *ngIf="isLoaded" >
  <div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
    <link itemprop="image" href="https://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon.png?v=c78bd457575a">
    <div class="inner-content clearfix">
      <div id="dfp-tlb" class="everyonelovesstackoverflow everyoneloves__top-leaderboard"></div>
      <div id="question-header" class="grid">
        <h1 itemprop="name" class="grid--cell fs-headline1 fl1 ow-break-word"><a
            href="/questions/18410035/ways-to-iterate-over-a-list-in-java" class="question-hyperlink">{{ post.title }}</a>
        </h1>
        <div class="pl8 aside-cta grid--cell" role="navigation" aria-label="ask new question">
          <a href="/questions/ask" class="d-inline-flex ai-center ws-nowrap s-btn s-btn__primary">
            Ask Question
          </a>
        </div>

      </div>
      <div id="mainbar" role="main" aria-label="question and answers">

        <div class="question" data-questionid="18410035" id="question">
          <div class="post-layout">
            <div class="votecell post-layout--left">


              <div class="js-voting-container grid fd-column ai-stretch gs4 fc-black-200" data-post-id="18410035">
                <button class="js-vote-up-btn grid--cell s-btn s-btn__unset c-pointer"
                  title="This question shows research effort; it is useful and clear" aria-pressed="false"
                  aria-label="up vote" data-selected-classes="fc-theme-primary"><svg aria-hidden="true"
                    class="svg-icon m0 iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36">
                    <path d="M2 26h32L18 10z" /></svg></button>
                <div class="js-vote-count grid--cell fc-black-500 fs-title grid fd-column ai-center"
                  itemprop="upvoteCount" data-value="507">{{ post.score }}</div>
                <button class="js-vote-down-btn grid--cell s-btn s-btn__unset c-pointer"
                  title="This question does not show any research effort; it is unclear or not useful"
                  aria-pressed="false" aria-label="down vote" data-selected-classes="fc-theme-primary"><svg
                    aria-hidden="true" class="svg-icon m0 iconArrowDownLg" width="36" height="36" viewBox="0 0 36 36">
                    <path d="M2 10h32L18 26z" /></svg></button>

                <button class="js-favorite-btn s-btn s-btn__unset c-pointer py8" aria-pressed="false"
                  aria-label="favorite (182)" data-selected-classes="fc-yellow-600">
                  <svg aria-hidden="true" class="svg-icon iconStar" width="18" height="18" viewBox="0 0 18 18">
                    <path
                      d="M9 12.65l-5.29 3.63 1.82-6.15L.44 6.22l6.42-.17L9 0l2.14 6.05 6.42.17-5.1 3.9 1.83 6.16z" />
                  </svg>
                  <div class="js-favorite-count mt8" data-value="182">182</div>
                </button>
              </div>
            </div>

            <div class="postcell post-layout--right">

              <div class="post-text" itemprop="text">
                <p>{{ post.selftext }}</p>
              </div>

              <div class="post-taglist grid gs4 gsy fd-column">
                <div class="grid ps-relative d-block">
                  <a href="/questions/tagged/java" class="post-tag" title="show questions tagged &#39;java&#39;"
                    rel="tag">{{ post.subreddit }}</a> <a href="/questions/tagged/loops" class="post-tag"
                    title="show questions tagged &#39;loops&#39;" rel="tag">nsfw</a> <a
                    href="/questions/tagged/collections" class="post-tag"
                    title="show questions tagged &#39;collections&#39;" rel="tag">spoilers</a>
                </div>
              </div>

              <div class="mb0 ">
                <div class="mt16 pt4 grid gs8 gsy fw-wrap jc-end ai-start">
                  <div class="grid--cell mr16" style="flex: 1 1 100px;">
                    <div class="post-menu"><a href="/q/18410035" title="short permalink to this question"
                        class="short-link" itemprop="url" id="link-post-18410035">share</a><span class="lsep">|</span>
                    </div>
                  </div>

                  <div class="post-signature owner grid--cell">
                    <div class="user-info user-hover">
                      <div class="user-action-time">
                        asked <span title="2013-08-23 19:00:14Z" class="relativetime">{{ post.created | date:'medium' }}</span>
                      </div>
                      <div class="user-gravatar32">
                        <a href="/users/1171509/ix3">
                          <div class="gravatar-wrapper-32"><img
                              src="https://www.gravatar.com/avatar/c198605581434ac4ef852e88f70369ed?s=32&amp;d=identicon&amp;r=PG"
                              alt="" width="32" height="32"></div>
                        </a>
                      </div>
                      <div class="user-details" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <a href="/users/1171509/ix3">{{ post.author }}</a><span class="d-none" itemprop="name">{{ post.author }} </span>
                        <div class="-flair">
                          <span class="reputation-score" title="reputation score " dir="ltr">5,017</span><span
                            title="3 gold badges"><span class="badge1"></span><span
                              class="badgecount">3</span></span><span title="29 silver badges"><span
                              class="badge2"></span><span class="badgecount">29</span></span><span
                            title="58 bronze badges"><span class="badge3"></span><span
                              class="badgecount">58</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>


        <div id="dfp-isb" class="everyonelovesstackoverflow everyoneloves__inline-sidebar"></div>
        <div id="answers">

          <a name="tab-top"></a>
          <div id="answers-header">
            <div class="subheader answers-subheader">
              <h2 data-answercount="11">
                11 Answers
                <span style="display:none;" itemprop="answerCount">11</span>
              </h2>
              <div>

                <div id="tabs">
                  <a href="/questions/18410035/ways-to-iterate-over-a-list-in-java?answertab=active#tab-top"
                    data-nav-xhref="" title="Answers with the latest activity first" data-value="active"
                    data-shortcut="A">
                    active</a>
                  <a href="/questions/18410035/ways-to-iterate-over-a-list-in-java?answertab=oldest#tab-top"
                    data-nav-xhref="" title="Answers in the order they were provided" data-value="oldest"
                    data-shortcut="O">
                    oldest</a>
                  <a class="youarehere is-selected "
                    href="/questions/18410035/ways-to-iterate-over-a-list-in-java?answertab=votes#tab-top"
                    data-nav-xhref="" title="Answers with the highest score first" data-value="votes" data-shortcut="V">
                    votes</a>
                </div>

              </div>
            </div>
          </div>





          <a name="18410489"></a>
          <div id="answer-18410489" class="answer accepted-answer" data-answerid="18410489" itemprop="acceptedAnswer"
            itemscope itemtype="http://schema.org/Answer">
            <div class="post-layout">
              <div class="votecell post-layout--left">


                <div class="js-voting-container grid fd-column ai-stretch gs4 fc-black-200" data-post-id="18410489">
                  <button class="js-vote-up-btn grid--cell s-btn s-btn__unset c-pointer" title="This answer is useful"
                    aria-pressed="false" aria-label="up vote" data-selected-classes="fc-theme-primary"><svg
                      aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36">
                      <path d="M2 26h32L18 10z" /></svg></button>
                  <div class="js-vote-count grid--cell fc-black-500 fs-title grid fd-column ai-center"
                    itemprop="upvoteCount" data-value="233">233</div>
                  <button class="js-vote-down-btn grid--cell s-btn s-btn__unset c-pointer"
                    title="This answer is not useful" aria-pressed="false" aria-label="down vote"
                    data-selected-classes="fc-theme-primary"><svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg"
                      width="36" height="36" viewBox="0 0 36 36">
                      <path d="M2 10h32L18 26z" /></svg></button>


                  <div class="js-accepted-answer-indicator grid--item fc-green-500 ta-center p4"
                    title="loading when this answer was accepted..." tabindex="0" role="note" aria-label="accepted"><svg
                      aria-hidden="true" class="svg-icon iconCheckmarkLg" width="36" height="36" viewBox="0 0 36 36">
                      <path d="M6 14l8 8L30 6v8L14 30l-8-8z" /></svg></div>

                </div>

              </div>


              <div class="answercell post-layout--right">

                <div class="post-text" itemprop="text">
                  <p>Comment goes here</p>
                </div>
                <div class="grid mb0 fw-wrap ai-start jc-end gs8 gsy">
                  <time itemprop="dateCreated" datetime="2013-08-23T19:29:06"></time>
                  <div class="grid--cell mr16" style="flex: 1 1 100px;">
                    <div class="post-menu"><a href="/a/18410489" title="short permalink to this answer"
                        class="short-link" itemprop="url" id="link-post-18410489">share</a><span class="lsep">|</span>
                    </div>
                  </div>

                  <div class="post-signature grid--cell fl0">
                    <div class="user-info user-hover">
                      <div class="user-action-time">
                        answered <span title="2013-08-23 19:29:06Z" class="relativetime">Aug 23 '13 at 19:29</span>
                      </div>
                      <div class="user-gravatar32">
                        <a href="/users/535871/ted-hopp">
                          <div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/nhcvo.jpg?s=32&amp;g=1"
                              alt="" width="32" height="32"></div>
                        </a>
                      </div>
                      <div class="user-details" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <a href="/users/535871/ted-hopp">Ted Hopp</a><span class="d-none" itemprop="name">Ted
                          Hopp</span>
                        <div class="-flair">
                          <span class="reputation-score" title="reputation score 201,641" dir="ltr">202k</span><span
                            title="42 gold badges"><span class="badge1"></span><span
                              class="badgecount">42</span></span><span title="317 silver badges"><span
                              class="badge2"></span><span class="badgecount">317</span></span><span
                            title="431 bronze badges"><span class="badge3"></span><span
                              class="badgecount">431</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>


              <div class="post-layout--right">
                <div id="comments-18410489" class="comments js-comments-container " data-post-id="18410489">
                  <ul class="comments-list js-comments-list" data-remaining-comments-count="2" data-canpost="false"
                    data-cansee="true" data-comments-unavailable="false" data-addlink-disabled="true">


                    <li id="comment-27043746" class="comment js-comment " data-comment-id="27043746">
                      <div class="js-comment-actions comment-actions">
                        <div class="comment-score js-comment-edit-hide">
                        </div>
                      </div>
                      <div class="comment-text js-comment-text-and-form">
                        <div class="comment-body js-comment-edit-hide">

                          <span class="comment-copy">Sub comment goes here.</span>

                          &ndash;&nbsp;<a href="/users/1171509/ix3" title="5,017 reputation"
                            class="comment-user owner">iX3</a>
                          <span class="comment-date" dir="ltr"><span title="2013-08-23 19:34:30Z"
                              class="relativetime-clean">Aug 23 '13 at
                              19:34</span></span>
                          <span title="this comment was edited 1 time">
                            <svg aria-hidden="true" class="svg-icon va-text-bottom o50 iconPencilSm" width="14"
                              height="14" viewBox="0 0 14 14">
                              <path
                                d="M8.37 3.7L2 10.11V12h1.88l6.37-6.43zM12.23 2.83L11.1 1.71a.5.5 0 0 0-.7 0L9.2 2.86l1.88 1.84 1.14-1.16a.5.5 0 0 0 0-.71z" />
                            </svg>
                          </span>
                        </div>
                      </div>
                    </li>
                    <li id="comment-27044462" class="comment js-comment " data-comment-id="27044462">
                      <div class="js-comment-actions comment-actions">
                        <div class="comment-score js-comment-edit-hide">
                        </div>
                      </div>
                      <div class="comment-text js-comment-text-and-form">
                        <div class="comment-body js-comment-edit-hide">

                          <span class="comment-copy">Another comment.</span>

                          &ndash;&nbsp;<a href="/users/535871/ted-hopp" title="201,641 reputation"
                            class="comment-user">Ted
                            Hopp</a>
                          <span class="comment-date" dir="ltr"><span title="2013-08-23 19:58:41Z"
                              class="relativetime-clean">Aug 23 '13 at
                              19:58</span></span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>

                <div id="comments-link-18410489" data-rep=50 data-anon=true>

                  <a class="js-add-link comments-link  dno"
                    title="Use comments to ask for more information or suggest improvements. Avoid comments like “+1” or “thanks”."></a><span
                    class="js-link-separator dno">&nbsp;|&nbsp;</span>
                  <a class="js-show-link comments-link " title="expand to show all comments on this post" href=#
                    onclick="">show
                    <b>2</b> more comments</a>
                </div>
              </div>
            </div>
          </div>
          <div id="dfp-mlb" class="everyonelovesstackoverflow everyoneloves__mid-leaderboard"></div>

          <a name="18410379"></a>
          <div id="answer-18410379" class="answer" data-answerid="18410379" itemprop="suggestedAnswer" itemscope
            itemtype="http://schema.org/Answer">
            <div class="post-layout">
              <div class="votecell post-layout--left">


                <div class="js-voting-container grid fd-column ai-stretch gs4 fc-black-200" data-post-id="18410379">
                  <button class="js-vote-up-btn grid--cell s-btn s-btn__unset c-pointer" title="This answer is useful"
                    aria-pressed="false" aria-label="up vote" data-selected-classes="fc-theme-primary"><svg
                      aria-hidden="true" class="svg-icon m0 iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36">
                      <path d="M2 26h32L18 10z" /></svg></button>
                  <div class="js-vote-count grid--cell fc-black-500 fs-title grid fd-column ai-center"
                    itemprop="upvoteCount" data-value="40">40</div>
                  <button class="js-vote-down-btn grid--cell s-btn s-btn__unset c-pointer"
                    title="This answer is not useful" aria-pressed="false" aria-label="down vote"
                    data-selected-classes="fc-theme-primary"><svg aria-hidden="true" class="svg-icon m0 iconArrowDownLg"
                      width="36" height="36" viewBox="0 0 36 36">
                      <path d="M2 10h32L18 26z" /></svg></button>


                  <div class="js-accepted-answer-indicator grid--item fc-green-500 ta-center p4 d-none"
                    title="loading when this answer was accepted..." tabindex="0" role="note" aria-label="accepted"><svg
                      aria-hidden="true" class="svg-icon iconCheckmarkLg" width="36" height="36" viewBox="0 0 36 36">
                      <path d="M6 14l8 8L30 6v8L14 30l-8-8z" /></svg></div>

                </div>

              </div>


              <div class="answercell post-layout--right">

                <div class="post-text" itemprop="text">
                  <p>Another comment</p>
                </div>
                <div class="grid mb0 fw-wrap ai-start jc-end gs8 gsy">
                  <time itemprop="dateCreated" datetime="2013-08-23T19:22:20"></time>
                  <div class="grid--cell mr16" style="flex: 1 1 100px;">
                    <div class="post-menu"><a href="/a/18410379" title="short permalink to this answer"
                        class="short-link" itemprop="url" id="link-post-18410379">share</a><span class="lsep">|</span>
                    </div>
                  </div>

                  <div class="post-signature owner grid--cell fl0">
                    <div class="user-info user-hover">
                      <div class="user-action-time">
                        answered <span title="2013-08-23 19:22:20Z" class="relativetime">Aug 23 '13 at 19:22</span>
                      </div>
                      <div class="user-gravatar32">
                        <a href="/users/1171509/ix3">
                          <div class="gravatar-wrapper-32"><img
                              src="https://www.gravatar.com/avatar/c198605581434ac4ef852e88f70369ed?s=32&amp;d=identicon&amp;r=PG"
                              alt="" width="32" height="32"></div>
                        </a>
                      </div>
                      <div class="user-details" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <a href="/users/1171509/ix3">iX3</a><span class="d-none" itemprop="name">iX3</span>
                        <div class="-flair">
                          <span class="reputation-score" title="reputation score " dir="ltr">5,017</span><span
                            title="3 gold badges"><span class="badge1"></span><span
                              class="badgecount">3</span></span><span title="29 silver badges"><span
                              class="badge2"></span><span class="badgecount">29</span></span><span
                            title="58 bronze badges"><span class="badge3"></span><span
                              class="badgecount">58</span></span>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>


              <div class="post-layout--right">
                <div id="comments-18410379" class="comments js-comments-container  dno" data-post-id="18410379">
                  <ul class="comments-list js-comments-list" data-remaining-comments-count="0" data-canpost="false"
                    data-cansee="true" data-comments-unavailable="false" data-addlink-disabled="true">

                  </ul>
                </div>

                <div id="comments-link-18410379" data-rep=50 data-anon=true>

                  <a class="js-add-link comments-link disabled-link "
                    title="Use comments to ask for more information or suggest improvements. Avoid comments like “+1” or “thanks”.">add
                    a comment</a><span class="js-link-separator dno">&nbsp;|&nbsp;</span>
                  <a class="js-show-link comments-link dno" title="expand to show all comments on this post" href=#
                    onclick=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="sidebar" class="show-votes" role="complementary" aria-label="sidebar">
        <div class="module question-stats">
          <table id="qinfo">
            <tr>
              <td>
                <p class="label-key">asked</p>
              </td>
              <td style="padding-left: 10px">
                <p class="label-key" title="2013-08-23 19:00:14Z">
                  <b>
                    <time itemprop="dateCreated" datetime="2013-08-23T19:00:14">5 years, 7 months ago</time>
                  </b>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="label-key">viewed</p>
              </td>

              <td style="padding-left: 10px">
                <p class="label-key">
                  <b>806,072 times</b>
                </p>
              </td>
            </tr>
          </table>
        </div>

        <div class="module sidebar-linked">
          <h4 id="h-linked">Linked</h4>
          <div class="linked" data-tracker="lq=1">

            <div class="spacer">
              <a href="/q/37167378" title="Vote score (upvotes - downvotes)">
                <div class="answer-votes answered-accepted default">6</div>
              </a>
              <a href="/questions/37167378/iterate-over-arrayliststring?noredirect=1" class="question-hyperlink">Iterate
                over Arraylist&lt;String[]&gt;</a>
            </div>
          </div>
        </div>

        <div class="module sidebar-related">
          <h4 id="h-related">Related</h4>
          <div class="related js-gps-related-questions" data-tracker="rq=1">
            <div class="spacer"><a href="/q/40480" title="Vote score (upvotes - downvotes)">
                <div class="answer-votes extra-large">5854</div>
              </a><a href="/questions/40480/is-java-pass-by-reference-or-pass-by-value" class="question-hyperlink">Is
                Java &ldquo;pass-by-reference&rdquo; or
                &ldquo;pass-by-value&rdquo;?</a>
            </div>
          </div>
        </div>

        <div id="hot-network-questions" class="module tex2jax_ignore">
          <h4>
            <a href="https://stackexchange.com/questions?tab=hot" class="js-gps-track s-link s-link__inherit">
              Hot Network Questions
            </a>
          </h4>
          <ul>
            <li>
              <div class="favicon favicon-puzzling" title="Puzzling Stack Exchange"></div>
              <a href="https://puzzling.stackexchange.com/questions/81393/anagram-holiday"
                class="js-gps-track question-hyperlink mb0">
                Anagram holiday
              </a>

            </li>
          </ul>

          <a href="#" class="show-more js-show-more js-gps-track">
            more hot questions
          </a>

          <div id="feed-link">
            <a href="/feeds/question/18410035" title="feed of this question and its answers">
              <svg aria-hidden="true" class="svg-icon fc-orange-400 iconRss" width="18" height="18" viewBox="0 0 18 18">
                <path
                  d="M1 3c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3zm14.5 12C15.5 8.1 9.9 2.5 3 2.5V5a10 10 0 0 1 10 10h2.5zm-5 0A7.5 7.5 0 0 0 3 7.5V10a5 5 0 0 1 5 5h2.5zm-5 0A2.5 2.5 0 0 0 3 12.5V15h2.5z" />
              </svg>
              question feed
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>